/* styles.css */
/* Home.css */

/* Container for the entire content */
.content {
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    gap: 20px; /* Adjust the space between elements */
    text-align: center; /* Center-align text within the container */
  }
  
  /* Image */
  .floating-image {
    width: 100%; /* Make the image responsive to its container's width */
    max-width: 600px; /* Set a maximum width for the image */
    border: 10px solid #d67607; /* Add a border to the image */
    border-radius: 10px; /* Apply rounded corners to the border */
    margin-bottom: 20px; /* Add space between the image and the paragraph */
  }
  
  /* Paragraphs */
  p {
    font-size: 30px; /* Slightly reduce the font size for better readability */
    text-align: left; /* Left-align text */
    line-height: 1.6; /* Increase line height for better readability */
    margin-bottom: 20px; /* Add space between paragraphs */
  }
  